<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actus</title>
</head>
<body>

    <h1>Les différentes actus de notre site</h1>

    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dolor quos sequi voluptas unde incidunt, qui nulla tempora eaque necessitatibus quod fugiat, ex magnam deleniti sunt asperiores at eveniet magni?</p>
    
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>



    <h1> Petit tu es tres fort , tu dois dpnc travailler dure</h1>
    

    <p> Lorem ipsum dolor sit amet.</p>
    <p> Lorem ipsum dolor sit amet.</p>
    <p> Lorem ipsum dolor sit amet.</p>
    <p> Lorem ipsum dolor sit amet.</p>
    <p> Lorem ipsum dolor sit amet.</p>
    <p> Lorem ipsum dolor sit amet.</p>
    <p> Lorem ipsum dolor sit amet.</p>
    <p> Lorem ipsum dolor sit amet.</p>
    <p> Lorem ipsum dolor sit amet.</p>
    <p> Lorem ipsum dolor sit amet.</p>
    <p> Lorem ipsum dolor sit amet.</p>

    <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quidem, sapiente, fugit aut magni exercitationem cum repudiandae, explicabo natus ducimus deserunt voluptatem nam asperiores quae. Necessitatibus neque atque omnis. Eum!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quidem, sapiente, fugit aut magni exercitationem cum repudiandae, explicabo natus ducimus deserunt voluptatem nam asperiores quae. Necessitatibus neque atque omnis. Eum!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quidem, sapiente, fugit aut magni exercitationem cum repudiandae, explicabo natus ducimus deserunt voluptatem nam asperiores quae. Necessitatibus neque atque omnis. Eum!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quidem, sapiente, fugit aut magni exercitationem cum repudiandae, explicabo natus ducimus deserunt voluptatem nam asperiores quae. Necessitatibus neque atque omnis. Eum!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quidem, sapiente, fugit aut magni exercitationem cum repudiandae, explicabo natus ducimus deserunt voluptatem nam asperiores quae. Necessitatibus neque atque omnis. Eum!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quidem, sapiente, fugit aut magni exercitationem cum repudiandae, explicabo natus ducimus deserunt voluptatem nam asperiores quae. Necessitatibus neque atque omnis. Eum!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quidem, sapiente, fugit aut magni exercitationem cum repudiandae, explicabo natus ducimus deserunt voluptatem nam asperiores quae. Necessitatibus neque atque omnis. Eum!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quidem, sapiente, fugit aut magni exercitationem cum repudiandae, explicabo natus ducimus deserunt voluptatem nam asperiores quae. Necessitatibus neque atque omnis. Eum!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quidem, sapiente, fugit aut magni exercitationem cum repudiandae, explicabo natus ducimus deserunt voluptatem nam asperiores quae. Necessitatibus neque atque omnis. Eum!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quidem, sapiente, fugit aut magni exercitationem cum repudiandae, explicabo natus ducimus deserunt voluptatem nam asperiores quae. Necessitatibus neque atque omnis. Eum!</li>
    </ul>
</body>

<script>


    alert('hello worl');

</script>
</html>



